<section class="card">
  <a href="/blog/{{id}}">
    <header>
      <h3>{{user_id}}</h3>
      <p style="font-size:10px">{{date_created}}</p>
      <br>
      <h2>{{title}}</h2>
      <hr>
      </header>

    <div class="card-body">
      <p>{{summary_text}}</p>
      <a href="/blog/{{id}}">read more</a>
    </div>
  </a>
 
</section>