<container style="display:flex; flex-direction:column">
<section class="fullBlogcard">
  <form>
    <header>
      <input><h2>{{blog.title}}</h2></header></input>
      <h4>{{blog.user_id}}</h4> <h4>{{blog.blog_id}}</h4>
      <p>{{blog.date_created}}</p>
      <hr>
      </header>

    <div class="card-body">
      <textarea><p>{{blog.bodyText}}</p></textarea>
    </div>
    </form>
</section>
</container>